<a href="https://colab.research.google.com/github/Sania1303/AIML/blob/main/AIML_Labsheet_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#reverse of a list
l1=[1,2,3,4,5,6]
l1[::-1]

[6, 5, 4, 3, 2, 1]

In [2]:
str1=input("Enter a name:")
str2=str1[::-1]

if str1==str2:
  print("it is a palindrome")
else:
  print("it is not a palindrome")

Enter a name:Lotus
it is not a palindrome

In [3]:
#slicing
l1=[1,2,3,4,5,6,7,8]
print(l1[:3])

[1, 2, 3]

In [4]:
#random
import random
l1=[1,2,3,4]
print(l1[-1])

4

In [5]:
import random
l1=[1,2,3,4]
random.shuffle(l1)
print(l1)

[3, 4, 2, 1]

In [6]:
import random
n=random.randint(1,6)
n

5

In [7]:
l1=[1,2,3]
l2=[4,5,6]
print(l1+l2)

[1, 2, 3, 4, 5, 6]

In [8]:
list_1=[1,2,3,4]
print(list_1)
list_2=list_1.copy()
print(list_2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [9]:
A=[1,3,2,4,5]
B=[5,6,7,3,6]
print(A)
print(B)
A.extend(B)
print(A)

[1, 3, 2, 4, 5]
[5, 6, 7, 3, 6]
[1, 3, 2, 4, 5, 5, 6, 7, 3, 6]

In [10]:
#creating tuple with flot numbers
b=(6.5,5.9,2.0)
print(b)

(6.5, 5.9, 2.0)

In [11]:
#creating tupl with strings
c=("one","two","three")
c

('one', 'two', 'three')

In [12]:
#creting tuple multiple data types
mix=("hello",708,66.8,1,2)
mix

('hello', 708, 66.8, 1, 2)

In [13]:
#accessing items of tuple
a=(1,2,3,4,"hello")
print(a[4])

hello

In [14]:
#creating tuple with single element:
a=(5,)
print(a)
print(type(a))

(5,)
<class 'tuple'>

In [15]:
#creating tuple with integer
a=(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [16]:
#creating tuple with float numbers
b=(6.5,5.9,2.0)
print(b)

(6.5, 5.9, 2.0)

In [17]:
#creating  tple with strings
c=("one","two","three")
c

('one', 'two', 'three')

In [18]:
#creating tuple with multiple data types
mix=("hello",708,66.8,1,2)
mix

('hello', 708, 66.8, 1, 2)

In [19]:
#accessing items of tuple
a=(1,2,3,4,"hello")
print(a[4])

hello

In [20]:
#create a dictionary
a={
    "name":"joy" ,
    "age":23,
    "education":"engineer"
}
print(a)

{'name': 'joy', 'age': 23, 'education': 'engineer'}

In [21]:
len(a)

3

In [22]:
type(a)

dict

In [23]:
x=a.keys()
x

dict_keys(['name', 'age', 'education'])

In [24]:
y=a.values()
y

dict_values(['joy', 23, 'engineer'])

In [25]:
z=a.items()
z

dict_items([('name', 'joy'), ('age', 23), ('education', 'engineer')])

In [26]:
#example:
set1={1,2,3,4}
print(set1)

{1, 2, 3, 4}

In [27]:
#3 duplicates nt allowd
set={1,2,3,4,5,6,7,1,1}
set

{1, 2, 3, 4, 5, 6, 7}

In [28]:
len(set)

7

In [29]:
type(set)

set

In [30]:
def add():
  a=2
  b=3
  sum=a+b
  return sum
add()
print(add())

5